
body, h1, h2, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background: transparent;
  color: #fff;
  padding: 1.5rem 2rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h1 {
  font-size: 1.8rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 0;
  background-color: #fff;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  overflow: hidden;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://wallpapers.com/images/hd/4k-architecture-abstract-modern-6aqmuqoo33iwhmkb.jpg') no-repeat center center;
  background-size: cover;
  filter: brightness(40%);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 10px;
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
}

.container {
  padding: 2rem;
  max-width: 1365px;
  margin: 0 auto;
}

.section {
  margin-bottom: 3rem;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.section img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

.biography-section {
  margin-bottom: 3rem;
}

.biography-content {
  display: flex;
  align-items: flex-start;
}

.biography-content img {
  width: 400px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 2rem;
}

.biography-text {
  max-width: 900px;
}

.biography-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.biography-text p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}
